body {
  background-color: wheat;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: black;
}

/* Home Page / Project Page */
.Project {
  background-color: rgba(237, 186, 91);
  padding: 10px;
  margin: 1vw;
  border-radius: 10px;
  display: flex;
}
.Project img {
  height: 30vh;
  border: black solid 1px;
  border-radius: 10px;
  width: 200px;
}
.Project p {
  display: inline;
  text-decoration: none;
  text-align: center;
  width: 150px;
  padding: 10px;
}
.Flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Slider */
.Slider {
  border: black solid 1px;
  margin: auto;
  display: flex;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../public/qoutebackground.jpg");
}
.Slider div {
  border: black solid 1px;
  width: 80%;
  margin: auto;
  height: 70px;
  background: rgba(23, 54, 255, 0.5);
  display: flex;
  padding: 10px;
}
.Slider button {
  height: 20px;
  margin: 20px;
  margin-top:30px;
}
.Slider p {
  width: 85%;
  text-align: center;
}

/* Canvas */
#sticky {
  position: sticky;
  top: 0;
  background-color:red;
}
.tall {
  height: 3000px;
}

  /* Calculator */

#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(24, 24, 24);
  border-radius:15px;
  max-width:500px;
  overflow:hidden;
  margin:auto;
}
#display{
  width:100%;
  padding:20px;
  font-size:5rem;
  text-align:left;
  border:none;
  background-color: rgb(45, 45, 45);
  color:rgb(255, 225, 0);
}
#keys {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:5px;
  padding:20px;
}  

/* Calculator */
#calculator button{
  width:75px;
  height:75px;
  border-radius:100%;
  border:none;
  background-color:rgb(56, 56, 56);
  color:white;
  font-size: 3rem;
  font-weight:bold;
  cursor: pointer;

}
#calculator button:hover{
  background-color: rgb(209, 167, 2);
}
#calculator button:active{
  background-color: rgb(255, 204, 1);
}

/* Random Password */
.RandomPassword{
  display:flex;
  width:80%; 
  margin:auto;
  justify-content:space-evenly
}
.RandomPassword button{
  width:80px;

}